<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.blogspot.spartandeveloper.playlistmessagesforspotify"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name_short"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>

                <!-- Spotify auth callback -->
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="callback"
                    android:scheme="playlistmessagesforspotify"/>
            </intent-filter>
        </activity>

        <service android:name=".data.SyncService"/>

        <service
            android:name=".ui.createplaylist.CreatePlaylistService"
            android:exported="false"/>

        <receiver
            android:name=".data.SyncService$SyncOnConnectionAvailable"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>